:root {
  --primary-color: #516b7cfd;
  --secondary-color: #1b425cfd;
  --dark-color: #0d2331fd;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li.title {
  font-size: 20px;
  font: bold;
  text-transform: uppercase;
  color: rgb(148, 228, 116);
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Slider part */
.slider {
  overflow: hidden;
  height: 350px;
  color: black;

  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.slider figure {
  position: relative;
  width: 600%;
  margin: 0;
  left: 0;
  animation: 20s slidy infinite;
}

.slider figure div {
  width: 16.6%;
  float: left;
}

.slider figure img {
  width: 100%;
  float: left;
}

.slider .slide a {
  z-index: 2;
  font-size: 50px;
  text-align: center;
  position: absolute;
  width: 20%;
  padding-top: 100px;
  color: #fff;
}

@keyframes slidy {
  0% {
    left: 0;
  }

  8.355% {
    left: -100%;
  }

  16.67% {
    left: -200%;
  }

  25% {
    left: -300%;
  }

  33.34% {
    left: -400%;
  }

  41.67% {
    left: -500%;
  }

  50% {
    left: -500%;
  }

  58.35% {
    left: -400%;
  }

  67.67% {
    left: -300%;
  }

  76.005% {
    left: -200%;
  }

  83.27% {
    left: -100%;
  }

  91.5% {
    left: 0%;
  }

  100% {
    left: 0%;
  }
}
/* Navbar */
.navbar {
  background-color: var(--primary-color);
  position: sticky;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover,
.navbar .current {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar img {
  height: auto;
  width: auto;
  max-height: 65px;
  max-width: 240px;
}
.flexx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#container {
  min-height: 100%;
  position: relative;
  padding-bottom: 0px;
}

.column-tix-buttons {
  float: left;
  width: 25%;
  padding: 15px;
}
.row-tix-buttons::after {
  content: "";
  clear: both;
  display: table;
  padding: 0px;
}

.column-mid-panel {
  float: left;
  width: 33.33%;
  padding: 0px;
}
.row-mid-panel::after {
  content: "";
  clear: both;
  display: table;
  padding: 0px;
}

.list-inline {
  list-style: none;
  padding: 18px;
}
.list-inline > li {
  display: inline;
}
.list-pipe > li:not(:last-child)::after {
  content: "|";
  margin: 0 0.25em;
}

/* For the activities section */
#activities {
  background-color: white;
}

#activities .card {
  border-radius: 3%;
  box-shadow: 0px 5px 10px 2px rgba(0, 93, 165, 0.2);
}

.card ul {
  list-style-type: decimal;
  padding-left: 30px;
}

#activities .activities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#activities .activities-container-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

#activities h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
}

/* Styling for shopping page */

#footer {
  margin: 0;
  bottom: 0;
  margin-top: 15px;
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px; /* Height of the footer */
  color: white;
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  /* Stack Grid Items */
  #activities .activities-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar ul li.title {
    font-size: 16px;
  }

  @media (max-width: 600px) {
    /* Stack Grid Items */
    #activities .activities-container {
      grid-template-columns: 1fr;
    }

    .navbar img {
      display: none;
    }

    .navbar ul li.title {
      display: none;
    }

    #header .container ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 14px;
      gap: 0.3rem;
      margin-bottom: 5px;
    }

    #container .slider {
      height: 100%;
    }

    #container .slider img {
      height: 170px;
    }

    #footer ul li {
      font-size: 14px;
    }
  }
}

.fa {
  padding: 2px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
