.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 15px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: rgb(224, 224, 224);
  padding: 1rem;
}

.card-img {
  height: 200px;
}

.card-img-explore {
  height: 100px;
}

.btn {
  border: 1px solid #8a9ca8fd;
  font-size: 12px;
  border-radius: 10px;
  color: #516b7cfd;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  margin: 15px 0;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: #e1f1ff;
}
